<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCu7q9Dw7C6E1Nyl6qcpsAvKApKs9vS6sE</string>
	<key>GCM_SENDER_ID</key>
	<string>1019779658570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emmemanutenzioni</string>
	<key>PROJECT_ID</key>
	<string>test-63613</string>
	<key>STORAGE_BUCKET</key>
	<string>test-63613.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019779658570:ios:21c844e27af1f2fd0187b3</string>
</dict>
</plist>